<div class="header clearfix">
    <a href="/" class="logo"></a>

    <ul class="menu">

        <li><a href="/" class="{% if request.resolver_match.view_name == 'index' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'products:index' %}"
               class="{% if request.resolver_match.view_name == 'products:index' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'contacts' %}"
               class="{% if request.resolver_match.view_name == 'contacts' %}active{% endif %}">контакты</a></li>

  {% if user.is_authenticated %}
            <li class="auth">
                <div class="dropdown">
                    <a href="#" class=" dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.first_name|default:'Пользователь' }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li>
                            <a class="dropdown-item inline-block" href="{% url 'auth:edit' %}">Профиль</a>
                        </li>
                        {% if user.is_staff %}
                            <li>
                                <hr class="dropdown-divider inline-block">
                            </li>
                            <li>
                                <a class="dropdown-item inline-block" href="{% url 'admin_staff:users' %}">Менеджер</a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li>
                                <a class="dropdown-item inline-block" href="/admin/">
                                    Админка
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            </li>
            <a href="{% url 'basket:view' %}">
                <span>
                    {% if basket %}
                        {{ basket.0.total_cost|floatformat:0 }} руб
                        ({{ basket.0.total_quantity }} шт )
                    {% endif %}
                </span>
            </a>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
                <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>
    </ul>
    <a href="#" class="search"></a>
</div>